<div
  class="text-center flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h2">User Form</h2>
</div>
<div class="row justify-content-center mt-5">
  <!-- userForm -->
  <div class="col-md-4">
    <form [formGroup]="userForm" (ngSubmit)="AddUser()">
      <div class="form-group">
        <!-- user Name -->
        <label>Name</label>
        <input
          class="form-control"
          placeholder="Enter your name"
          type="text"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && formData.name.errors }"
          required
        />
        <!-- validation for name -->
        <div
          *ngIf="(submitted || formData.name.dirty || formData.name.touched) && formData.name.errors"
        >
          <div *ngIf="formData.name.errors?.['required']">Name is required</div>
          <div *ngIf="formData.name.errors?.['pattern']">
            Enter valid name used only character
          </div>
          <div *ngIf="formData.name.errors?.['minlength']">
            minimum length should be 3 char
          </div>
        </div>
      </div>

      <br />
      <!-- email -->
      <div class="form-group">
        <label>Email</label>
        <input
          class="form-control"
          placeholder="Enter your email"
          type="email"
          formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && formData.email.errors }"
          required
        />
        <!-- validations for Email -->
        <div
          *ngIf="
            (submitted || formData.email.dirty || formData.email.touched) && formData.email.errors
          "
        >
          <div *ngIf="formData.email.errors?.['required']">Email is required</div>
          <div *ngIf="formData.email.errors?.['email']">Enter valid Email</div>
        </div>
      </div>

      <br />
      <!-- password -->
      <div class="form-group">
        <label>Password</label>
        <input
          class="form-control"
          placeholder="Enter your password"
          type="password"
          formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && formData.password.errors }"
          required
        />
        <!-- validations for password -->
        <div
          *ngIf="
            (submitted || formData.password.dirty || formData.password.touched) &&
            formData.password.errors
          "
        >
          <div *ngIf="formData.password.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="formData.password.errors?.['minlength']">
            minimum length should be 8 digit
          </div>
          <div *ngIf="formData.password.errors?.['maxlength']">
            minimum length should be 9 digit
          </div>
          <div *ngIf="formData.password.errors?.['pattern']">i.e.admin123</div>
        </div>
      </div>
      <br />
      <!-- dropdown fileld for role selection -->
      <div class="form-group">
        <label>Roles</label><br />
        <select
          class="custom-select form-control"
          formControlName="role"
          [ngClass]="{ 'is-invalid': submitted && formData.role.errors }"
        >
          <option value="">Choose your Role</option>
          <option *ngFor="let role of Roles" [ngValue]="role">
            {{ role }}
          </option>
        </select>
        <!-- validations for role field  -->
        <div
          *ngIf="(submitted || formData.role.dirty || formData.role.touched) && formData.role.errors"
        >
          <div *ngIf="formData.role.errors?.['required']">
            Role is required please select
          </div>
        </div>
      </div>
      <br />
      <!-- button to create user -->
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit"[disabled]="!userForm.valid">
          Add User
        </button>
      </div>
    </form>
  </div>
</div>
